[submodule "c/azure-c-shared-utility"]
	path = c/azure-c-shared-utility
	url = https://github.com/mussier/azure-c-shared-utility.git
[submodule "c/azure-umqtt-c"]
	path = c/azure-umqtt-c
	url = https://github.com/mussier/azure-umqtt-c.git
[submodule "c/azure-uamqp-c"]
	path = c/azure-uamqp-c
	url = https://github.com/mussier/azure-uamqp-c.git
